[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==2.3.1"
pyinstaller  = "*"
jsonpickle   = "==1.0"
simplejson = "*"

[dev-packages]
pylint = "*"
viking = {editable = true, path = "."}

[requires]
python_version = "3.7"

[scripts]
build="pyinstaller viking/main.py --name viking --hidden-import simplejson"
